# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

sync_config.jsonc

# Bitrix core & runtime
/bitrix/
/upload/
/cgi-bin/
/cache/
/managed_cache/
/upload/tmp/
/upload/resize_cache/
/upload/iblock/
/upload/medialibrary/

# Bitrix restore / backups (не коммитить)
/restore.php
/*.tar.gz
/*.tar.gz.*
/*.sql
/*.sql.gz

# Bitrix secrets
**/php_interface/dbconn.php
**/php_interface/.settings.php

# Logs
*.log

# ignore docs filters
docs/filters/
