:root {
  --font-main: "Montserrat", sans-serif;
  --font-title: "Benzin", "Montserrat", sans-serif;
  --white: #ffffff;
  --blue: #1a3b88;
  --blue-strong: #1a3b88;
  --gray-900: #1b1b1b;
  --gray-800: #404040;
  --gray-200: #f1f1f1;
  --shadow: rgba(0, 0, 0, 0.15);
  --container-width: 1360px;
  --radius-sm: 5px;
}
