.btn {
  border: none;
  border-radius: var(--radius-sm);
  font-family: var(--font-main);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  padding: 0 18px;
  height: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &--primary {
    background: var(--blue);
    color: var(--white);
    width: 141px;
  }

  &--light {
    background: var(--white);
    color: var(--blue);
    height: 37px;
    width: 175px;
  }

  &--outline {
    background: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
    width: 187px;
  }
}
