.extra {
  padding-bottom: 101px;

  .section-title {
    margin-bottom: 80px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
}

.extra-card {
  position: relative;
  height: 205px;
  border-radius: var(--radius-sm);
  overflow: hidden;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 248px;
    height: 205px;
    background: rgba(75, 75, 75, 0.38);
    backdrop-filter: blur(3.95px);
    color: var(--white);
    padding: 38px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3 {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
  }

  &__link {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 41px;
      height: 8px;
      object-fit: contain;
    }
  }
}

@media (max-width: 768px) {
  .extra {
    padding-bottom: 70px;
  }

  .extra .section-title {
    margin-bottom: 40px;
  }

  .extra-card__overlay {
    width: 70%;
  }
}
