.faq {
  padding-bottom: 159px;

  .section-title {
    margin-bottom: 60px;
  }

  &__grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 400px);
    gap: 80px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
}

@media (max-width: 1024px) {
  .faq__grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .faq {
    padding-bottom: 100px;
  }

  .faq-item {
    padding: 20px 44px 20px 20px;
  }
}

.faq-item {
  position: relative;
  background: var(--gray-200);
  border-radius: var(--radius-sm);
  padding: 28px 50px;
  min-height: 73px;

  &--open {
    min-height: 178px;
    padding-bottom: 24px;
  }

  &__title {
    font-size: 15px;
    font-weight: 700;
    color: var(--gray-900);
  }

  &__content {
    margin-top: 12px;
    font-size: 15px;
    line-height: 1.27;
  }

  &__icon {
    position: absolute;
    right: 26px;
    top: 24px;
    width: 22px;
    height: 25px;
  }
}

.faq__form {
  display: flex;
  flex-direction: column;
  gap: 18px;

  h3 {
    margin: 0 0 12px;
    font-size: 23px;
    font-weight: 700;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 15px;
    color: var(--gray-800);
  }

  input[type="text"],
  input[type="tel"] {
    height: 52px;
    border: 1px solid rgba(64, 64, 64, 0.25);
    border-radius: 5px;
    padding: 0 16px;
    font-size: 15px;
    color: var(--gray-800);
  }

  .btn--primary {
    width: 189px;
    height: 46px;
  }
}

.faq__form .faq__checkbox {
  font-size: 12px;
  line-height: 1.3;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;

  input {
    margin-top: 3px;
    flex: 0 0 auto;
  }
}
