.header {
  height: 115px;
  background: var(--blue);

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .logo {
    width: 139px;
    height: 36px;
  }

  .nav {
    flex: 1;
    display: flex;
    justify-content: center;

    &__list {
      display: flex;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 15px;
      color: var(--white);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--white);
    font-weight: 700;
    font-size: 15px;

    img {
      width: 42px;
      height: 24px;
      object-fit: contain;
    }
  }
}

@media (max-width: 1380px) {
  .header {
    height: auto;
    padding: 16px 0;
  }

  .header__inner {
    height: auto;
    flex-wrap: wrap;
  }

  .header .nav {
    display: none;
  }

  .header__actions {
    display: none;
  }
}
