.news {
  padding-bottom: 97px;

  .section-title {
    margin-bottom: 60px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
  }
}

.news-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  img {
    height: 314px;
  }

  time {
    font-size: 12px;
    color: var(--gray-800);
  }

  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .news {
    padding-bottom: 70px;
  }

  .news-card img {
    height: 240px;
  }
}
