.promo {
  padding-bottom: 115px;

  .section-title {
    margin-bottom: 62px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 664px);
    gap: 27px;
  }
}

.promo-card {
  position: relative;
  height: 205px;
  width: 664px;
  overflow: hidden;

  &__overlay {
    position: absolute;
    left: 0;
    color: var(--white);
    padding: 10px 10px 10px 36px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    p {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
    }

    strong {
      font-size: 24px;
      font-weight: 700;
    }

    &--full {
      top: 0;
      height: 205px;
      width: 349px;
      background: rgba(26, 59, 136, 0.53);
      backdrop-filter: blur(3.6px);

      .btn {
        margin-top: 30px;
      }
    }

    &--split {
      top: 105px;
      left: 2px;
      width: 391px;
      height: 100px;
      border-radius: 5px;
      padding: 20px 22px;
      background: rgba(26, 59, 136, 0.53);
      backdrop-filter: blur(3.6px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__button {
    align-self: flex-start;
  }
}

.promo-card__overlay--split {
  position: absolute;
}

.promo-card__overlay--split .promo-card__button {
  position: absolute;
  left: 160px;
  bottom: 12px;
}

.promo-card .btn {
  width: 141px;
  height: 46px;
  border-radius: 4.12px;
}

@media (max-width: 768px) {
  .promo {
    padding-bottom: 70px;
  }

  .promo-card {
    height: 180px;
    width: 100%;
  }

  .promo-card__overlay--full,
  .promo-card__overlay--split {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .promo__cards {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .promo-card {
    width: 100%;
  }
}
