.details {
  overflow: hidden;
  border-bottom: 1px solid rgba(64, 64, 64, 0.25);
  transition: height 300ms ease-in-out;
}

.details:last-child {
  border-bottom: 0;
}

.details__summary,
.details__content {
  padding: 24px;
}

.details__summary {
  position: relative;
  list-style: none;
  padding-left: 48px;
  outline: 0;
  font-family: var(--font-main);
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--gray-900);
  transition: color 300ms ease-in-out;
}

.details__summary::-webkit-details-marker {
  display: none;
}

.details__summary::before,
.details__summary::after {
  content: "";
  position: absolute;
}

.details__summary::before {
  left: 24px;
  top: 50%;
  width: 16px;
  height: 2px;
  margin-top: -1px;
  background: var(--blue);
}

.details__summary::after {
  left: 31px;
  top: 50%;
  width: 2px;
  height: 16px;
  margin-top: -8px;
  background: var(--blue);
  transition: all 300ms ease-in-out;
}

[open] > .details__summary {
  color: var(--blue);
}

[open] > .details__summary::after {
  opacity: 0;
  transform: translateY(25%);
}

.details__content {
  font-family: var(--font-main);
  font-size: 15px;
  padding-top: 0;
  padding-left: 48px;
  color: var(--gray-800);
}

@media (max-width: 768px) {
  .details__summary {
    font-size: 16px;
  }
  .details__content {
    font-size: 14px;
  }
}
