@use "./base/reset";
@use "./base/vars";
@use "./base/base";
@use "./base/utils";
@use "./base/containers";

@use "./blocks/buttons";
@use "./blocks/header";
@use "./blocks/nav-icon";
@use "./blocks/mobile-nav";
@use "./blocks/hero";
@use "./blocks/projects";
@use "./blocks/extra";
@use "./blocks/promo";
@use "./blocks/news";
@use "./blocks/faq";
@use "./blocks/contacts";
@use "./blocks/footer";
